---
layout: default
---

{{ content }}

{% assign radars = site.data.NEXRAD_RADARS_DB | where_exp: "item", "item contains 'odimcode'" | sort: "odimcode" %}
{% assign states = radars | map: "state" | uniq | sort %}

{% for state in states %}
  <h2 id="{{ state | downcase | url_encode }}">{{ state }}</h2>

  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Location</th>
        <th>Coordinates</th>
        <th>Height</th>
        <th>Band</th>
        <th>Pol</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <colgroup>
        <col width="10%">
        <col width="35%">
        <col width="25%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
      </colgroup>
      {% for radar in radars %}
        {% if radar.state == state %}
        <tr>
          <td id="{{ radar.odimcode | upcase | url_encode }}">
            <a href="#{{ radar.odimcode | upcase | url_encode }}"><code>{{ radar.odimcode }}</code></a>
          </td>
          <td{% if radar.status == "0" %} class="text-danger"{% endif %}>
            {{ radar.location }}
            {% if radar.finishyear %}({{radar.startyear}} - {{ radar.finishyear }}){% endif %}
          </td>
          <td>
            <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ radar.latitude }},{{ radar.longitude }}&zoom=12">{{ radar.latitude }}, {{ radar.longitude }}</a>
          </td>
          <td>
            {{ radar.heightantenna | round }}
          </td>
          <td>
            {{ radar.band }}
          </td>
          <td>
            {{ radar.polarization }}
          </td>
          <td{% if radar.status == "0" %} class="text-danger"{% endif %}>
            {{ radar.status }}
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
